<section class=" dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
            <a
                routerLink="/admin/events-create/tournament" class="text-center sm:text-xl bg-gradient-to-r from-sports-bluedark to-sports-bluelight text-gray-900 hover:text-white py-6 sm:py-10 px-4 sm:px-8 shadow-md rounded-xl font-bold cursor-pointer ">
                Crear Torneo
                <span class="block font-bold text-xl sm:text-2xl">+</span>
            </a>
            <a
                routerLink="/admin/events-create/training" class="text-center sm:text-xl bg-gradient-to-r from-sports-bluedark to-sports-bluelight text-gray-900 hover:text-white py-6 sm:py-10 px-4 sm:px-8 shadow-md rounded-xl font-bold cursor-pointer">
                Crear Entrenamiento
                <span class="block font-bold text-xl sm:text-2xl">+</span>
            </a>
        </div>

        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <app-input [placeholder]="'Buscar por nombre...'"
                                (onDebounce)="searchEvents($event)"></app-input>
                        </div>
                    </form>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">
                                <span class="sr-only">Actions</span>
                            </th>
                            <th scope="col" class="px-4 py-3">Nombre</th>
                            <th scope="col" class="px-4 py-3">Tipo de evento</th>
                            <th scope="col" class="px-4 py-3">Fecha de inicio</th>
                            <th scope="col" class="px-4 py-3">Fecha de fin</th>
                            <th scope="col" class="px-4 py-3">Visibilidad</th>
                            <th scope="col" class="px-4 py-3">Cupo máximo</th>
                            <th scope="col" class="px-4 py-3">ubicación</th>
                            <th scope="col" class="px-4 py-3">Estado</th>
                        </tr>
                    </thead>
                    <!--   <tbody>
                        <tr *ngFor="let pedido of pagination.data" class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 flex items-center justify-end">
                                <button #dropdownButton [id]=" + '-button'"
                                    [attr.data-dropdown-toggle]=" + '-dropdown'" type="button"
                                    class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                    </svg>
                                </button>
                            </td>
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ pedido.idPedido }}
                            </td>
                            <td class="px-4 py-3">{{pedido.cliente?.nombre | titlecase}} {{pedido.cliente.apellidos |
                                titlecase}}</td>
                            <td class="px-4 py-3">{{ pedido.cliente.cedula}}</td>
                            <td class="px-4 py-3">{{ pedido.evento}}</td>
                            <td class="px-4 py-3">{{ pedido.fechaPedido | date:'longDate' }}</td>
                            <td class="px-4 py-3">{{ pedido.fechaEntrega | date:'longDate' }}</td>
                            <td class="px-4 py-3">{{ pedido.valorTotal }}</td>
                            <td class="px-4 py-3">{{ pedido.valorPagado }}</td>
                            <td class="px-4 py-3">
                                @if(pedido.estadoPago === 'Pendiente'){
                                <dd
                                    class="me-2 mt-1.5 inline-flex items-center rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900  dark:text-primary-300">
                                    <svg class="me-1 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z" />
                                    </svg>
                                    Pendiente
                                </dd>
                                }@else if(pedido.estadoPago === '50% Pagado'){
                                <dd
                                    class="me-2 mt-1.5 inline-flex items-center rounded bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 dark:bg-yellow-900  dark:text-yellow-300">
                                    <svg class="me-1 h-4 w-4 text-gray-800 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                        viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M8.891 15.107 15.11 8.89m-5.183-.52h.01m3.089 7.254h.01M14.08 3.902a2.849 2.849 0 0 0 2.176.902 2.845 2.845 0 0 1 2.94 2.94 2.849 2.849 0 0 0 .901 2.176 2.847 2.847 0 0 1 0 4.16 2.848 2.848 0 0 0-.901 2.175 2.843 2.843 0 0 1-2.94 2.94 2.848 2.848 0 0 0-2.176.902 2.847 2.847 0 0 1-4.16 0 2.85 2.85 0 0 0-2.176-.902 2.845 2.845 0 0 1-2.94-2.94 2.848 2.848 0 0 0-.901-2.176 2.848 2.848 0 0 1 0-4.16 2.849 2.849 0 0 0 .901-2.176 2.845 2.845 0 0 1 2.941-2.94 2.849 2.849 0 0 0 2.176-.901 2.847 2.847 0 0 1 4.159 0Z" />
                                    </svg>
                                    50% Pagado
                                </dd>
                                }@else{
                                <dd
                                    class="me-2 mt-1.5 inline-flex items-center rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900  dark:text-green-300">
                                    <svg class="me-1 h-4 w-4 text-gray-800 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                        viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                            d="M8 7V6a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1M3 18v-7a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                                    </svg>
                                    100% Pagado
                                </dd>
                                }
                            </td>
                            <td class="px-4 py-3">
                                @if(pedido.estadoPedido === 'Pendiente'){
                                <dd
                                    class="me-2 mt-1.5 inline-flex items-center rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900  dark:text-primary-300">
                                    <svg class="me-1 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M18.5 4h-13m13 16h-13M8 20v-3.333a2 2 0 0 1 .4-1.2L10 12.6a1 1 0 0 0 0-1.2L8.4 8.533a2 2 0 0 1-.4-1.2V4h8v3.333a2 2 0 0 1-.4 1.2L13.957 11.4a1 1 0 0 0 0 1.2l1.643 2.867a2 2 0 0 1 .4 1.2V20H8Z" />
                                    </svg>
                                    Pendiente
                                </dd>
                                }@else if(pedido.estadoPedido === 'En Proceso'){
                                <dd
                                    class="me-2 mt-1.5 inline-flex items-center rounded bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-800 dark:bg-yellow-900  dark:text-yellow-300">
                                    <svg class="me-1 h-4 w-4 text-yellow-800 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                        viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                            d="m20.9532 11.7634-2.0523-2.05225-2.0523 2.05225 2.0523 2.0523 2.0523-2.0523Zm-1.3681-2.73651-4.1046-4.10457L12.06 8.3428l4.1046 4.1046 3.4205-3.42051Zm-4.1047 2.73651-2.7363-2.73638-8.20919 8.20918 2.73639 2.7364 8.2091-8.2092Z" />
                                        <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                            d="m12.9306 3.74083 1.8658 1.86571-2.0523 2.05229-1.5548-1.55476c-.995-.99505-3.23389-.49753-3.91799.18657l2.73639-2.73639c.6841-.68409 1.9901-.74628 2.9229.18658Z" />
                                    </svg>

                                    En Proceso
                                </dd>
                                }@else if(pedido.estadoPedido === 'Terminado'){
                                <dd
                                    class="me-2 mt-1.5 inline-flex items-center rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900  dark:text-green-300">
                                    <svg class="me-1 h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5" />
                                    </svg>
                                    Terminado
                                </dd>
                                }@else{
                                <dd
                                    class="me-2 mt-1.5 inline-flex items-center rounded bg-red-100 px-2.5 py-0.5 text-xs font-medium text-red-800 dark:bg-green-900  dark:text-green-300">
                                    <svg class="me-1 w-4 h-4 text-red-700 dark:text-white" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                        viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3" />
                                    </svg>
                                    Incidencia
                                </dd>
                                }
                            </td>

                            <div #dropdownMenu [id]="pedido.idPedido + '-dropdownn'"
                                class="hidden  z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                <div class="py-1">
                                    <a [routerLink]="['/vendedor/detail-order', pedido.idPedido]"
                                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        ver detalle de pedido
                                    </a>
                                </div>
                            </div>
                        </tr>
                    </tbody> -->
                </table>
            </div>

            <!-- <app-pagination (page)="cambiarPagina($event)" [currentPage]="this.page"
                [meta]="this.pagination.meta"></app-pagination> -->
        </div>
    </div>
</section>