<section class=" dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
            <a routerLink="/admin/events-create/tournament"
                class="text-center sm:text-xl bg-gradient-to-r from-sports-bluedark to-sports-bluelight text-gray-900 hover:text-white py-6 sm:py-10 px-4 sm:px-8 shadow-md rounded-xl font-bold cursor-pointer ">
                Crear Torneo
                <span class="block font-bold text-xl sm:text-2xl">+</span>
            </a>
            <a routerLink="/admin/events-create/training"
                class="text-center sm:text-xl bg-gradient-to-r from-sports-bluedark to-sports-bluelight text-gray-900 hover:text-white py-6 sm:py-10 px-4 sm:px-8 shadow-md rounded-xl font-bold cursor-pointer">
                Crear Entrenamiento
                <span class="block font-bold text-xl sm:text-2xl">+</span>
            </a>
        </div>

        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <app-input [placeholder]="'Buscar por nombre...'"
                                (onDebounce)="searchEvents($event)"></app-input>
                        </div>
                    </form>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">
                                <span class="sr-only">Actions</span>
                            </th>
                            <th scope="col" class="px-4 py-3">Nombre</th>
                            <th scope="col" class="px-4 py-3">Fecha de inicio</th>
                            <th scope="col" class="px-4 py-3">Fecha de fin</th>
                            <th scope="col" class="px-4 py-3">Visibilidad</th>
                            <th scope="col" class="px-4 py-3">Cupo máximo</th>
                            <th scope="col" class="px-4 py-3">ubicación</th>
                        </tr>
                    </thead>
                      <tbody>
                        <tr *ngFor="let evento of data" class="border-b dark:border-gray-700">
                            <td class="px-4 py-3 flex items-center justify-end">
                                <button #dropdownButton [id]="evento.id + '-button'"
                                    [attr.data-dropdown-toggle]="evento.id + '-dropdown'" type="button"
                                    class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100">
                                    <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                    </svg>
                                </button>
                            </td>
                            <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ evento.name }}
                            </td>
                            <td class="px-4 py-3">{{ evento.startDate | date:'longDate' }}</td>
                            <td class="px-4 py-3">{{ evento.endDate | date:'longDate' }}</td>
                            <td class="px-4 py-3">{{ evento.eventVisibility}}</td>
                            <td class="px-4 py-3">{{ evento.maximumParticipants}}</td>
                            <td class="px-4 py-3">{{ evento.location }}</td>
                            <td class="px-4 py-3">{{ evento.valorPagado }}</td>
                         

                            <div #dropdownMenu [id]="evento.id + '-dropdownn'"
                                class="hidden  z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                <div class="py-1">
                                    <a (click)="setEventId(evento.id)" id="buttonVisibility" data-modal-target="visibilityModal" data-modal-toggle="visibilityModal"
                                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">
                                        editar visibilidad
                                    </a>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <app-pagination (page)="cambiarPagina($event)" [currentPage]="this.page"
                [meta]="this.pagination.meta"></app-pagination> -->
        </div>
    </div>
</section>

<div id="visibilityModal" tabindex="-1" aria-hidden="true"
    class="hidden  overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class=" relative p-4 w-full max-w-md max-h-full">
        <form [formGroup]="form1" (ngSubmit)="OnSubmit()" method="get" id="visibilityModal" tabindex="-1" aria-hidden="true"
            class=" top-0 z-50 h-modal w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0 md:h-full">
            <div class="relative h-full w-full max-w-xl md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-gradient-to-br from-sports-bluedark to-sports-bluelight rounded-lg dark:bg-gray-800">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between rounded-t p-4 md:p-5">
                        <h3 class="text-lg font-normal text-white dark:text-gray-400">Visibilidad del evento</h3>
                        <button type="button" (click)="closeModal()"
                            class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-white hover:bg-gray-100 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-toggle="visibilityModal">
                            <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="px-4 md:px-5">
                        <div id="myTabContent">
                            <div class="grid grid-cols-2 gap-4 md:grid-cols-2" id="brand" role="tabpanel"
                                aria-labelledby="brand-tab">

                                <div class="space-y-2">
                                    <label for="eventVisibility"
                                        class="block mb-2 text-sm font-medium text-white dark:text-white">Evento</label>
                                    <select id="eventVisibility" formControlName="eventVisibility"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                        <option value="PUBLIC">Público</option>
                                        <option value="PRIVATE">Privado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="flex items-center space-x-4 rounded-b p-4 dark:border-gray-600 md:p-5">
                        <button type="submit"
                            class="rounded-lg bg-sports-bluedark px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-700 dark:hover:bg-primary-800 dark:focus:ring-primary-800">Guardar cambios</button>
                        <button type="reset" (click)="resetFilter()"
                            class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>