<footer class="p-4 bg-sports-bluedark md:p-4 lg:p-4 dark:bg-gray-800 bottom-0 w-full">
  <div class="mx-auto max-w-screen-xl text-center">
      <a class="flex mb-3 justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="block w-auto h-20 dark:hidden" src="../../../../../assets/logo_sports_club_ white_letter.png" alt="logo sports club manager">   
      </a>
     
      <span class="text-sm text-white sm:text-center dark:text-gray-400">© 2025 <a class="hover:underline">Sports Club Manager</a>. All Rights Reserved.</span>
  </div>
</footer>
