<section class="mt-20 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl text-center font-bold text-white dark:text-white">{{id == undefined ? "Crear cuenta" : "Editar cuenta"}}</h2>
    <form [formGroup]="form1" (ngSubmit)="onSubmit()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">

        <div>
          <label for="nationalId" class="block mb-2 text-sm font-medium text-white dark:text-white">Documento de identidad</label>
          <input type="number" formControlName="nationalId" id="nationalId"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Ingrese su documento de identidad">
        </div>
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-white dark:text-white">Nombre</label>
          <input type="text" formControlName="name" id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Ingrese su nombre">
        </div>
        <div>
          <label for="lastName" class="block mb-2 text-sm font-medium text-white dark:text-white">Apellido</label>
          <input type="text" formControlName="lastName" id="lastName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Ingrese su apellido">
        </div>
        <div>
          <label for="apellidos" class="block mb-2 text-sm font-medium text-white dark:text-white">Apellidos</label>
          <input type="text" formControlName="apellidos" id="apellidos"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Ingrese apellidos">
        </div>
        <div>
            <label for="phoneNumber" class="block mb-2 text-sm font-medium text-white dark:text-white">Teléfono</label>
            <input type="tel" formControlName="phoneNumber" id="phoneNumber"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Ingrese su teléfono">
        </div>
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-white dark:text-white">Email</label>
            <input type="email" formControlName="email" id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Ingrese email">
        </div>
        <div>
          <label for="username" class="block mb-2 text-sm font-medium text-white dark:text-white">nombre de usuario</label>
          <input type="text" formControlName="username" id="username"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Ingrese un nombre de usuario">
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-white dark:text-white">Contraseña</label>
          <input type="password" formControlName="password" id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="**********">
        </div>
        <div>
            <label for="roles"
                class="block mb-2 text-sm font-medium text-white dark:text-white">Tipo de cuenta</label>
            <select id="roles" formControlName="roles"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value="Jugador">Jugador</option>
                <option value="Entrenador">Entrenador</option>
            </select>
        </div>
        <div class="flex justify-start space-x-4 sm:col-span-2">
          <button type="submit"
            class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-sports-bluedark rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
            {{id == undefined ? "Crear cuenta" : "Guardar cambios"}}
          </button>
        </div>
        
      </div>
      
    </form>
  </div>
</section>

