<block-ui>
<section class="mt-9 bg-cover bg-center bg-no-repeat" style='background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/background3.jpg");'>
    <div class="flex flex-col items-center justify-center px-6 py-6 mx-auto md:h-screen lg:py-0" >
      <a class="flex items-center">
        <img class="w-60 h-30 py-6" src="assets/logo_sports_club_ white_letter.png" alt="logo" />
      </a>
      <div class="w-full bg-gradient-to-br from-sports-bluedark via-sports-blue to-sports-bluelight  rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-pallete-900 md:text-2xl dark:text-white">
            Iniciar sesión
          </h1>
          <form [formGroup]="form1" (ngSubmit)="login()" class="space-y-4 md:space-y-6">
            <div class="relative">
              <label for="username" class="block mb-2 text-sm font-medium text-pallete-900 dark:text-white">Nombre de usuario</label>
              <input
                formControlName="username"
                type="text"
                id="username"
                placeholder="username"
                [ngClass]="{
                  'border-red-500 focus:ring-red-500 focus:border-red-500': hasErrors('username','required') || hasErrors('username','minLength'),
                  'border-gray-300 focus:ring-green-600 focus:border-green-600': !hasErrors('username','required') && !hasErrors('username','minLength')
                }"
                class="bg-gray-50 text-gray-900 block rounded-t-lg w-full p-2.5 dark:bg-gray-700 dark:text-white"
              />
              @if(hasErrors('username','required')){
                <div class="absolute left-0 text-red-500 text-sm mt-1">
                  <small>El nombre de usuario es obligatorio.</small>
                </div>

              }@else if(hasErrors('username','minLength')){
                <div class="absolute left-0 text-red-500 text-sm mt-1">
                  <small>El nombre de usuario debe tener mínimo 5 caracteres.</small>
                </div>
              }
            </div>
            <br>
            <!-- Password -->
            <div class="relative">
              <label for="password" class="block mb-2 text-sm font-medium text-pallete-900 dark:text-white">Password</label>
              <input
                formControlName="password"
                type="password"
                id="password"
                placeholder="••••••••"
                [ngClass]="{
                  'border-red-500 focus:ring-red-500 focus:border-red-500': hasErrors('password','required') || hasErrors('password','minlength'),
                  
                  'border-gray-300 focus:ring-green-600 focus:border-green-600': !hasErrors('password','required') && !hasErrors('password','minlength')
                }"
                class="bg-gray-50 text-gray-900 block rounded-t-lg w-full p-2.5 dark:bg-gray-700 dark:text-white"
              />
              <div *ngIf="hasErrors('password','required') || hasErrors('password','minlength')" class="absolute left-0 text-red-500 text-sm mt-1">
                <small>La contraseña es obligatoria y debe tener al menos 8 caracteres.</small>
              </div>
            </div>
            <br>
            <!-- Submit -->
           <app-btn [type]="'submit'" [color]="'bluedark'">Login</app-btn>

          </form>
        </div>
      </div>
    </div>
    <br>

  </section>
</block-ui>
 
  
