<nav class="bg-gradient-to-br from-sports-bluedark via-sports-blue to-sports-bluelight fixed top-0 left-0 w-full z-50">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
            <div class="flex justify-between items-center">
                <div class="flex items-center space-x-4">
                    <img class="h-10 w-auto" src="../../../../../assets/logo_sports_club_ white_letter.png" alt="Logo">
                    <span [routerLink]="'/home'" class="hidden md:block text-white font-bold text-xl cursor-pointer">Sports Club Manager</span>
                </div>
                <div class="flex items-center space-x-2">
                    <a [routerLink]="['/home']" class="text-sm text-white px-3 py-2 rounded hover:bg-sports-bluedark">Inicio</a>
                    <a [routerLink]="['/login']" class="text-sm text-white px-3 py-2 rounded hover:bg-sports-bluedark">Iniciar sesión</a>
                    <a [routerLink]="['/create-account']" class="text-sm text-white px-3 py-2 rounded hover:bg-sports-bluedark">Crear cuenta</a>
                    <a [routerLink]="['/create-club']" class="text-sm text-white px-3 py-2 rounded hover:bg-sports-bluedark">Crear club</a>
                </div>
            </div>
        </div>
</nav>
