<main class="mt-20 mb-4 px-4 sm:px-6 lg:px-20 w-full">
    <div class="flex justify-center mb-6">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/1093424643?h=08adbf053e&autoplay=1&muted=1&controls=0&loop=1&background=1"
            frameborder="0" 
            class="w-full max-w-4xl rounded-md shadow-md aspect-video">
        </iframe>
    </div>
    <section>
        <h2 class="text-white text-xl font-bold mb-4">Clubes registrados</h2>
        <div class="flex gap-4 overflow-x-auto pb-4 scroll-smooth snap-x snap-mandatory">
            <div *ngFor="let club of clubs" class="min-w-[220px] snap-start bg-white bg-opacity-90 rounded-lg p-3 shadow-md">
                <div  class="w-full aspect-square bg-center bg-cover rounded-xl mb-2"
                    style='background-image: url("...");'>
                </div>
                <p class="text-gray-900 font-medium">{{club?.name}}</p>
                <p class="text-gray-600 text-sm">{{club?.address}}</p>
                <p class="text-gray-600 text-sm">{{club?.phone_number}}</p>
            </div>
            
        </div>
    </section>
    <section class="mt-8">
        <h2 class="text-white text-xl font-bold mb-4">Eventos públicos</h2>
        <div *ngFor="let event of events" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div class="bg-white bg-opacity-90 rounded-lg p-3 shadow-md">
                <div class="w-full aspect-square bg-center bg-cover rounded-xl mb-2"
                    style='background-image: url("...");'></div>
                <p class="text-gray-900 font-medium">{{event?.name}}</p>
                <p class="text-gray-600 text-sm">{{event?.description}}</p>
                <p class="text-gray-600 text-sm">{{event?.location}}</p>
                <p class="text-gray-600 text-sm">{{event?.starDate | date:'longDate'}}p>
            </div>
        </div>
    </section>